body {
	font-family: Roboto;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	margin: 0 !important;
}

#header {
  width: 100%;
  height: 64px;
  border-color: #e8e8e8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

#logo {
	margin-left: 150px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

#la-seal {
	float: left;
	height: 40px;
	width: 40px;
}

#data-la-seal {
	margin-right: 150px;
	float: right;
	height: 40px;
	width: 40px;
}

#title {
	float: left;
	margin-left: 4px;
}

#city-of-los-angeles {
	float: left;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.6px;
}

#open-budget {
	width: 120px;
	height: 16px;
	opacity: 0.45;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.5px;
	margin-left: 3px;
}

.main {
	margin-left: 10%;
	width: 80%;
}

.image {
	position: relative;
	max-width: 100vw;
	max-height: 360px;
}

.body-text {
	margin-top: 100px;
	margin-bottom: 50px;
	max-width: 600px;
	float: left;
}

.home-total {
	font-size: 36px;
	font-weight: bold;
  	color: #00aed0;
}

.home-total-citywide {
	font-size: 64px;
	letter-spacing: 2.3px;
}

.home-total-specific {
	margin-right: 45px;
}

.home-total-citywide-label {
	font-size: 18px;
  	font-weight: 500;
  	line-height: 1.33;
  	letter-spacing: 0.6px;
  	color: #000000;
}

.home-total-citywide-detail {
	max-width: 390px;
	margin-top: 47px;
	font-size: 18px;
  	font-weight: 500;
  	color: #000000;
}

.home-total-wrapper {
	float: left;
	margin-top: 26px;
	margin-right: 45px;
	width: 250px;
}

.home-total-detail {
	font-size: 14px;
  	color: #000000;
}

#hero {
	width: 100vw;
	/*max-height: 25vh;*/
}

.hero-text-wrapper {
 	left: 0;
 	right: 0;
 	top: 125px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	color: #ffffff;
}

.hero-text-primary {
	font-size: 36px;
	font-weight: 500;
	line-height: 0.89;
	letter-spacing: 1.3px;
	margin-bottom: 20px;
}

.hero-text-secondary {
	font-size: 24px;
	line-height: 1.21;
	opacity: 0.71;
}

.hero-text-tertiary {
	font-size: 18px;
  	line-height: 1.61;
  	opacity: 0.71;
}

.priority-image {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	viewBox="0 0 300 185"
}

.priority-image-wrapper {
	float: left;
	margin-top: 100px;	
}

#nav-button-wrapper {
	margin-top: 41px;
	max-width: 359px;
}

.nav-button {
	background-color: #00aed0;
	height: 47px;
	font-size: 14px;
  	font-weight: bold;
  	text-align: center;
  	border-width: 0px;
  	color: #ffffff;
  	cursor: pointer;
  	margin-top: 9px;
}

.nav-button:hover {
	background-color: #0196B4;
}

.left-button {
	float: left;
}

.right-button {
	float: right;
}

.small-button {
	width: 48.5%;
}

.big-button {
	min-width: 100%;
}

#departments {
	margin-top: 50px;
}

#budget-expense-breakdown {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  margin-top: 3%;
}

#title-divider-line {
  width: 60px;
  height: 2px;
  background-color: #00aed0;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 53px;
}

#department {
	width: 100%;
}

#department-chart {
	height: 220px;
	float: left;
	margin-right: 5vw;
}

#department-text-wrapper {
	width: 25vw;
	height: 220px;
	float: left;
}

#department-selector {
	width: 100%;
	height: 45px;
	border-radius: 3px;
	border-color: #f7f7f7;
  	background-color: #f7f7f7;
	margin-bottom: 18px;
	font-size: 14px;
  	font-weight: 500;
  	line-height: 1.43;
  	text-align: left;
  	color: #2d2d2d;
}

#department-desc-wrapper {
	border-radius: 3px;
  	background-color: #f7f7f7;
  	padding-left: 15px;
	padding-right: 15px;
	padding-top: 16px;
	padding-bottom: 15px;
	font-size: 12px;
  	line-height: 1.75;
}

#department-name {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
	text-align: left;
	color: #2d2d2d;
}

#mayor-main {
	padding-top: 120px;
	padding-bottom: 80px;
	background-color: #f7f7f7;
}

#garcetti-profile-pic {
	display: block;
	margin: 0 auto;
}

#mayor-title {
	margin: auto;
	padding-bottom: 45px;
	text-align: center;
	font-size: 24px;
  	font-weight: 500;
  	line-height: 1.33;
}

#mayor-letter-wrapper {
	width: 80%;
	background-color: white;
	margin: auto;
	margin-bottom: 80px;
	padding-top: 50px;
	padding-bottom: 160px;
	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.06);
}

#mayor-letter {
	margin-left: 8%;
	margin-right: 8%;
	text-align: justify;
	size: 18px;
	line-height: 32px;
}

.letter-list-title {
	font-size: 24px;
  	font-weight: 500;
  	line-height: 1.33;
}

.letter-list-header {
	font-size: 24px;
  	font-weight: 500;
  	line-height: 1.33;
}

.garcetti-job {
	font-size: 18px;
  	line-height: 1.78;
}

.garcetti-job-title {
  	font-weight: bold;
}

.up-arrow {
	color: #2cbeb0;
	float: left;
}

.down-arrow {
	color: #df4c4c;
	float: left;
}

.tooltip-wrapper {
	width: auto;
	padding-top: 13px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	max-width: 190px;
}

.tooltip-name {
	font-size: 12px;
  	font-weight: 500;
  	line-height: 1.67;
  	text-align: left;
  	padding-bottom: 7px;
  	color: #2d2d2d;
}

.tooltip-text-big {
	float: left;
	font-size: 18px;
  	font-weight: bold;
  	width: 100%;
  	color: #00aed0;
} 

.tooltip-text-small {
	margin-bottom: 8px;
	float: left;
 	font-size: 12px;
 	font-weight: 500;
 	width: 100%;
 	color: #bdbdbd;
}

a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #ffffff;
	opacity: 1.0;
}

#footer {
	padding-top: 97px;
	padding-bottom: 30px;
	background-color: #222222;
	font-size: 14px;
}

#footer-element-wrapper {
	width: 80%;
	margin-left: 10%;
}

.footer-col-header {
	color: #ffffff;
	font-size: 14px;
  	font-weight: bold;
  	margin-bottom: 10px;
}

.footer-elements {
	float: left;
	color: #ffffff;
	opacity: 0.43;
	text-decoration: none;
	font-weight: bold;
}

.footer-middle-col-elements {
	line-height: 1.6
}

.footer-col {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 115px;
	margin-right: 9%;
}

.ready-one {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: center;
  margin-top: 19px;
  color: #ffffff;	
  opacity: 1.0;
  margin-top: -83px;
}

.ready-two {
  opacity: 0.71;
  font-size: 18px;
  line-height: 1.61;
  text-align: center;
}

#ready-box {
  width: 369px;
  height: 104px;
  opacity: 0.52;
  background-color: #ffffff;
  margin: auto;
  margin-top: 50px;
}