body {
	font-family: Roboto;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	margin: 0 !important;
	height: 100vh;
}

#header {
  width: 100%;
  height: 64px;
  border-color: #e8e8e8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 20px;
}

#logo {
	margin-left: 150px;
	overflow: hidden;
	text-align: center;
}

#la-seal {
	float: left;
	height: 40px;
	width: 40px;
}

#title {
	float: left;
	margin-left: 4px;
}

#city-of-los-angeles {
	float: left;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.6px;
}

#open-budget {
	width: 86px;
	height: 16px;
	opacity: 0.45;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.5px;
}

.main {
	margin-left: 10vw;
	width: 80vw;
}

.image {
	position: relative;
	max-width: 100vw;
	max-height: 360px;
}

.body-text {
	margin-top: 100px;
	margin-bottom: 50px;
	max-width: 600px;
}

.home-total {
	font-size: 36px;
	font-weight: bold;
  	color: #00aed0;
}

.home-total-citywide {
	font-size: 64px;
	letter-spacing: 2.3px;
}

.home-total-specific {
	margin-right: 45px;
}

.home-total-citywide-label {
	font-size: 18px;
  	font-weight: 500;
  	line-height: 1.33;
  	letter-spacing: 0.6px;
  	color: #000000;
}

.home-total-citywide-detail {
	max-width: 390px;
	margin-top: 47px;
	font-size: 18px;
  	font-weight: 500;
  	color: #000000;
}

.home-total-wrapper {
	float: left;
	margin-top: 26px;
	margin-right: 45px;
	width: 250px;
}

.text-over-image {
 	top: 50px;
 	left: 0;
 	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#nav-button-wrapper {
	margin-top: 41px;
	max-width: 359px;
}
.Group-2 {
  width: 551px;
  height: 539px;
  object-fit: contain;
}

.nav-button {
	background-color: #00aed0;
	height: 47px;
	font-size: 14px;
  	font-weight: bold;
  	text-align: center;
  	border-width: 0px;
  	color: #ffffff;
  	cursor: pointer;
}

.left-button {

	float: left;
	margin-right: 12px;
}

.small-button {
	margin-top: 9px;
	min-width: 70%;
	max-width: 45%;
}

.big-button {
	min-width: 100%;
	margin-top: 50px;
}

#budget-expense-breakdown {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  margin-top: 3%;
}

#title-divider-line {
  width: 60px;
  height: 2px;
  background-color: #00aed0;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

#department {
	width: 100%;
	height: 800px;
}

#department-chart {
	height: 220px;
	width: 46vw;
	float: left;
}

#department-text {
	width: 25vw;
	height: 220px;
	float: left;
}

#department-selector {
	width: 100%;
	margin-bottom: 18px;
}

#department-desc-wrapper {
	width: 100%;
	border-radius: 3px;
  	background-color: #f7f7f7;
  	padding-left: 15px;
	padding-right: 15px;
	padding-top: 16px;
	padding-bottom: 15px;
}

#department-name {
	margin-bottom: 10px;
}

#tooltip {
	background-color: green;
	max-width: 18%;
	visibility: hidden;
}

#mayor-main {
	padding-top: 120px;
	background-color: #f7f7f7;
}

#garcetti-profile-pic {
	display: block;
	margin: 0 auto;
}

#mayor-title {
	margin: auto;
	padding-bottom: 45px;
	text-align: center;
	font-size: 24px;
  	font-weight: 500;
  	line-height: 1.33;
}

#mayor-letter-wrapper {
	width: 80%;
	background-color: white;
	margin: auto;
	margin-bottom: 80px;
	padding-top: 50px;
	padding-bottom: 160px;
	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.06);
}

#mayor-letter {
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify;
	size: 18px;
	line-height: 32px;
}

.letter-list-title {
	font-size: 24px;
  	font-weight: 500;
  	line-height: 1.33;
}

.garcetti-job {
	font-size: 18px;
  	line-height: 1.78;
}

.garcetti-job-title {
  	font-weight: bold;
}

#footer {
	height: 400px;
	background-color: black;
}