<!doctype html>
<html>
	<head>
    	<meta charset="utf-8">
    	<link rel="shortcut icon" href="/static/images/la-seal.png" type="image/x-icon">
		<link rel="icon" href="/static/images/la-seal.png" type="image/x-icon">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    	<title>LA Open Data</title>
  	</head>
  	<body>
  		<div id="header">
			<div id="logo">
				<img id="la-seal" alt="Los Angeles Seal" src="/static/images/la-seal.png">
				<div id="title">
					<div id="city-of-los-angeles">City of Los Angeles</div>
					<div id="open-budget">Open Budget</div>
				</div>
			</div>
		</div>
    	<div class="image">
		<img src="/static/images/la-large.png" alt="Los Angeles Skyline" />
		<div class="hero-text-wrapper">
			<div class="hero-text-primary">City of Los Angeles Operating Budget FY18</div>
			<div class="hero-text-secondary">"Every Angeleno deserves to know how their tax dollars are being spent."</div> 
			<div class="hero-text-tertiary">—Los Angeles Mayor Eric Garcetti</div>
			<div id="ready-box">
			</div>
			<div class="ready-one">Almost Ready</div>
			<div class="ready-two">Please return at 1:30PM today.</div>
		</div>
	</div>
  	</body>
</html>
