{% extends "layout.html" %}

{% block title %}Departments - {% endblock %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='breakdown.js') }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
{% endblock %}

{% block content %}
	<div class="main">
		<div id="budget-expense-breakdown">
		Budget Expense Breakdown by<br />
		Department and Program
		</div>
		<div id="title-divider-line"></div>
		<div id="department">
			<div id="department-chart">
				<svg width="600" height="400"></svg>
			</div>
			<div id="department-text-wrapper">
				<div id="department-text">
					<select id="department-selector">
						{% for name in department_names %}
							<option value="{{ name }}">{{ name }}</option>
						{% endfor %}
					</select>
					<div id="department-desc-wrapper">
						<div id="department-name"></div>
						<div id="department-desc"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="tooltip">
		Bef. It's what's for the food time.
	</div>
	</body>
{% endblock %}

{% block scripts %}
	breakdown = new Breakdown();
	breakdown.init();
{% endblock %}