<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script src="{{ url_for('static', filename='breakdown.js') }}"></script>
	</head>
	<body>	
	<div id="header">
		<div id="logo">
			<img id="la-seal" src="/static/images/seal-of-los-angeles-californiasvg@3x.png">
			<div id="title">
				<div id="city-of-los-angeles">City of Los Angeles</div>
				<div id="open-budget">Open Budget</div>
			</div>
		</div>
	</div>
	<div id="main">
		
	</div>
	</body>
</html>

<script type="text/javascript">
	$(function() {
		breakdown = new Breakdown();
		breakdown.init();
	})
</script>