<!doctype html>
<html>
	<head>
    	{% block head %}
    	<meta charset="utf-8">
    	<link rel="shortcut icon" href="/static/images/la-seal.png" type="image/x-icon">
		<link rel="icon" href="/static/images/la-seal.png" type="image/x-icon">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    	<script src="{{ url_for('static', filename='base.js') }}"></script>
    	<title>{% block title %}{% endblock %}LA Open Data</title>
    	{% endblock %}
  	</head>
  	<body>
  		<div id="header">
			<div id="logo">
				<img id="la-seal" alt="Los Angeles Seal" src="/static/images/la-seal.png">
				<div id="title">
					<div id="city-of-los-angeles">City of Los Angeles</div>
					<div id="open-budget">Open Budget | Home</div>
				</div>
			</div>
		</div>
    	<div id="content">{% block content %}{% endblock %}</div>
  	</body>
</html>

<script type="text/javascript">
	$(function() {
		Base.init();
		{% block scripts %}
		{% endblock %}
	})
</script>