{% extends "layout.html" %}

{% block title %}Mayor - {% endblock %}

{% block content %}
	<div id="mayor-main">
		<div id="mayor-letter-wrapper">
			<img id="garcetti-profile-pic" alt"Mayor Garcetti Headshot" src="/static/images/garcetti-profile-small.png">
			<div id="mayor-title">
				A Message from Mayor Eric Garcetti
			</div>
			<div id="mayor-letter">
			Dear Angelenos:
			<br>
			<br>
			A budget is more than numbers. It is a statement of our values, an expression of our ambitions, and a sign of our commitment to building a better future.
			<br>
			<br>
			That’s why it is with great pleasure that I propose my fourth budget — a new opportunity for us to focus the City’s resources on ensuring a safer and more prosperous, livable, and well-run city for the people of Los Angeles.
			<br>
			<br>		
			I am honored that you have given me the chance to serve another term as your Mayor. And with this budget, I intend for us to build on the progress of the last four years and continue charting a course to a prosperous future for Los Angeles. 
			<br>
			<br>	
			When I took office in 2013, I promised to bring Los Angeles back to basics — by making changes that Angelenos could see in their neighborhoods every day, and building confidence in the power of City government to improve their quality of life. Together, we have delivered on that promise.
			<br>
			<br>	
			We hired firefighters for the first time since the recession, and redeployed more sworn police officers into our communities; we improved the condition of our streets and sidewalks for the first time in decades; and we used data and innovative technology to maximize City resources, and improve the delivery of basic services from street cleaning to pothole repair.  
			<br>
			<br>
			And at every step of the process, we have led with a commitment to customer service — speeding up response times, shortening wait times, and making City Hall more accessible to Angelenos. 
			<br>
			<br>
			In November, voters passed Proposition HHH and Measure M by overwhelming margins and sent a clear message: we are ready to make unprecedented investments to address homelessness and build out our transportation network. 
			<br>
			<br>
			In the coming years, we will realize our collective dreams: to connect our city and lift up the most vulnerable among us. This budget sets the path toward that future, and here are some of its highlights: 
			<br>
			<br>
			<div class="letter-list-header">A Safe City:</div>
			<ul>
				<li>$1 million in funding for a new Associate Community Officer Program (A-Cop) to bridge a gap in the LAPD officer recruitment pipeline and help reduce officer desk time</li>
				<li>In FY 2017-18, the LAPD will assume responsibility for patrolling all Metro bus and rail services in Los Angeles — enhancing crime prevention and response on transit across the city</li>
			</ul>
			<br>
			<br>
			<div class="letter-list-header">A Prosperous City:</div>
			<ul>
				<li>$76 million in Proposition HHH funding for new permanent supportive housing projects and $12 million in HHH funding for new facilities to connect homeless Angelenos to services</li>
				<li>$2.9 million in funding for new outreach and sanitation teams to improve conditions at homeless encampments, while helping to move people off the streets and into housing</li>
			</ul>
			<br>
			<br>
			<div class="letter-list-header">A Livable and Sustainable City:</div>
			<ul>
				<li>Over $30 million in local funding from Measure M and California SB 1 to launch a program for fixing our worst streets for the first time in decades</li>
				<li>$2 million expansion to the City’s graffiti removal program, which will allow the city to respond to 90% of requests within a single day</li>
				<li>$280,000 in new funding for the Girls Play LA initiative, which will help double the City’s free recreation programs for girls and improve gender equity in sports programming</li>
			</ul>
			<br>
			<br>
			<div class="letter-list-header">A Well-Run City:</div>
			<ul>
				<li>$70,000 to start a program to develop “Anytime-Anywhere Testing,” improving the City’s ability to recruit and test new candidates for City positions</li>
				<li>Continuing the City’s $1 million Innovation Fund, which has provided seed funding to pilot programs of new ideas for delivering City services</li>
			</ul>
			<br>
			<br>
			Los Angeles’ future is ours to build. But we can’t create a better future without your support and participation. This vision belongs to all of us, and I look forward to working with you to realize it.
			<br>
			<br>
			Sincerely, 
			<br>
			<img id="garcetti-signature" alt="Mayor Garcett's Signature" src="/static/images/garcetti-signature-small.png">
			<br>
			<div class="garcetti-job">
				<div class="garcetti-job-title">
					ERIC GARCETTI
				</div>
				Mayor of the City of Los Angeles
			</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div id="footer-element-wrapper">
			<div class="footer-col">
				<div class="footer-col-header">
					Budget Summary
				</div>
				<div class="footer-elements">
					<a href="http://cao.lacity.org/budget16-17/2016-17Budget_Summary.pdf">FY 2016-2017</a><br>
					<a href="http://cao.lacity.org/budget15-16/2015-16Budget_Summary.pdf">FY 2015-2016</a><br>
					<a href="http://cao.lacity.org/budget14-15/2014-15Budget_Summary.pdf">FY 2014-2015</a><br>
					<a href="http://cao.lacity.org/budget13-14/2013-14Budget_Summary.pdf">FY 2013-2014</a><br>
					<a href="http://cao.lacity.org/budget12-13/2012-13Budget_Summary.pdf">FY 2012-2013</a><br>
					<a href="http://cao.lacity.org/bud2011-12/2011-12Budget_Summary.pdf">FY 2011-2012</a><br>
					<a href="http://cao.lacity.org/bud2010-11/10-11Proposed_BudgetSummary.pdf">FY 2010-2011</a><br>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer-elements footer-middle-col-elements">
					<a href="http://cao.lacity.org/debt/FinancialPolicies.pdf">Financial Policies for the City of Los Angeles</a><br>
					<a href="http://councilcommittee.lacity.org/budget/">Budget and Finance Committee</a><br>
					<a href="http://cao.lacity.org/budgetmemos.htm">Budget Memos</a><br>
					<a href="http://cao.lacity.org/NCBudgetDayPresentation-2016.pdf">Neighborhood Council Budget Day Presentation</a><br>
					<a href="http://www.lacontroller.org/adopted_budgets">Adoped Budgets</a><br>
					<a href="http://cao.lacity.org/budget/FSR.htm">Financial Status Reports</a><br>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer-col-header">
					White Book - Supplement to the Adopted Budget
				</div>
				<div class="footer-elements">
					FY 2016-2017 - 
					<a href="http://cao.lacity.org/budget16-17/2016-17WhiteBook_Vol1.pdf">Volume I</a> | 
					<a href="http://cao.lacity.org/budget16-17/2016-17WhiteBook_Vol2.pdf">Volume II</a><br>
					FY 2015-2016 - 
					<a href="http://cao.lacity.org/budget15-16/WHITEBOOK_071515_Vol1_FINAL.pdf">Volume I</a> | 
					<a href="http://cao.lacity.org/budget15-16/WHITEBOOK_072015_Vol2_FINAL.pdf">Volume II</a><br>
				</div>
			</div>
		</div>
	</div>
{% endblock %}